<template>
    <div>
        <pre><code>{{ computedState }}</code></pre>
        <button @click="start">Start</button>
    </div>
</template>

<script lang="ts">
import { computed, reactive } from 'vue';
import { useSocketIO } from './hooks/useSocketIO';
import { Player } from '../../api/app/@types/player';

export default {
    setup() {
        let { emit, registerListener, state } = useSocketIO('https://netcentric-iq180.herokuapp.com');

        let appState = reactive({
            systemMessage: computed(() => state.currentState),
            UID: computed(() => state.UID),
            connectedClients: 0,
            room: {
                code: null,
                game: {
                    remainingTime: 0,
                    players: [],
                    currentState: null,
                    currentPlayer: null,
                    currentQuestion: null,
                },
            },
        });

        let computedState = computed(() => JSON.stringify(appState, null, 4));

        registerListener('SET_CONNECTED_CLIENTS', (connectedClients: number) => {
            appState.connectedClients = connectedClients;
        });

        emit('JOIN_ROOM', { code: '', name: '' });

        const start = () => {
            emit('START', null);
        };

        registerListener('JOIN_ROOM_RESULT', (result) => {
            console.log('JOIN_ROOM_RESULT', result);

            if (result?.isOK) {
                appState.room.code = result.code;
            }
        });

        registerListener('START_RESULT', (result) => {
            console.log('START_RESULT', result);
            // console.log(result);
        });

        registerListener('SET_PLAYERS', (players: Player[]) => {
            console.log('SET_PLAYERS', players);
            appState.room.game.players = players;
        });

        registerListener('SET_CURRENT_STATE', (currentState: string) => {
            console.log('SET_CURRENT_STATE', currentState);

            if (currentState === 'FINISHED') {
                // console.log('Leaderboard', appState.room.game.players);
            }

            appState.room.game.currentState = currentState;
        });

        registerListener('SET_CURRENT_PLAYER', (UID: string) => {
            console.log('SET_CURRENT_PLAYER', UID);
            appState.room.game.currentPlayer = UID;
        });

        registerListener('SET_CURRENT_QUESTION', (currentQuestion: any) => {
            console.log('SET_CURRENT_QUESTION', currentQuestion);
            appState.room.game.currentQuestion = currentQuestion;
        });

        registerListener('SET_REMAINING_TIME', (remainingTime: number) => {
            console.log('SET_REMAINING_TIME', remainingTime);
            appState.room.game.remainingTime = remainingTime;
        });

        return { computedState, start };
    },
};
</script>
